.main{
    width: var(--global-width);
    height: var(--global-height);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-height: var(--global-height);
    overflow: scroll;
    position: relative;
}

.bracketsArea{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    
    position: relative;
}

.round{
    display: flex;
    flex-direction: column;
    height: 100%;
    align-content: space-around;
    justify-content: space-around;
}

.match{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: var(--strokewidth) solid var(--maincolor);
    border-radius: var(--borderradius);
    transition: border-radius 0ms ease-in-out;
    backdrop-filter: blur(5px);
    color: var(--textcolor);
    background-color: rgba(0,0,0, 0.1);
}

.team{
    padding: 0.8rem;
    width: 100%;
    text-align: center;
    min-width: 200px;
    transition: border 0ms ease-in-out;
    font-size: 1rem;
    font-weight: var(--textweight);
}

/*media type query for mobile devices landscape*/
@media (max-width: 1000px){
    .team{
        font-size: 0.5rem;
        padding: 0.3rem;
        min-width: 100px;
    }
}

.match .team:nth-of-type(2){
    border-top: var(--strokewidth) solid var(--maincolor);
}

.teamName{
    font-weight: 700;
}
