.main{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.cover{
  position: absolute;
  display: flex;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
}

.innerCover{
  width: 100vw;
  height: 100%;
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(50px);
  opacity: 1;
  transition: all 300ms ease-in-out;
  top: 0%;
}

.invisible .innerCover{
  opacity: 0;
  top: -100%;
}

.innerDivisionLine{
  height: 100px;
  width: 2px;
  background-color: white;
  margin: 0px 30px 0px 0px;
}

.invisible .innerDivisionLine{
  margin: 0px 30px 0px 30px;
}

.coverText{
  font-size: 40px;
  color: white;
  font-weight: bold;
  text-align: center;
}

.invisible .coverText{
  font-size: 60px;
}

.coverImage{
  filter: invert(1);
  scale: 0.6;
}

.invisible .coverImage{
  scale: 0.9;
}

.settingInterface{
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.1);
  position: absolute;
  height: 100%;
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  right: 0; 
  border: 1px solid rgba(255, 255, 255, 0.1);
  max-height: 100%;
}

.settingInterface.hidden{
  right: -25%;
}

.interfaceTitle{
  display: flex;
  text-align: center;
  justify-content: center;
  margin:20px;
  font-weight: 600;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.7);
}

.tabs{
  display: flex;
  padding: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.tab{
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  padding: 10px 20px;
  color: rgba(255, 255, 255, 0.4);
  cursor: pointer;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.tab:last-child{
  border-right: none;
}

.tab:hover{
  color: rgba(255, 255, 255, 0.6)
}

.tab.active{
  color: rgba(255, 255, 255, 0.8);
  font-weight: 600;
}

.settingsArea{
  display: flex;
  width: 350px;
  overflow-y: auto;
}

.setting{
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: scroll;
  max-height: 100%;
}

.option{
  display: flex;
  padding: 20px;
  align-items: center;
}

.optionTitle{
  font-size: 16px;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.7);
  margin-right: 20px;
}

.optionRange{
  border-radius: 50px;
  height: 4px;
}


.optionValue{
  font-size: 16px;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.7);
  background-color: rgba(255, 255, 255, 0.1);
  padding: 8px 12px;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  margin-left: 20px;
  width: 45px;
}

.optionSelect{
  background-color: rgba(255, 255, 255, 0.1);
  padding: 8px 12px;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 0.7);
  font-size: 16px;
  font-weight: 600;
  margin-left: 20px;
}

.optionSelect:hover{
  color: rgba(255, 255, 255, 0.9);
}

.optionSelect:focus{
  outline: none;
}

.optionSelect option{
  background-color: rgb(20, 20, 20);
  color: rgba(255, 255, 255, 0.7);
}

.optionCheckbox{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.1);
  margin-left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;

}
.optionColor{
  margin-left: 10px;
}

.optionText{
  font-size: 16px;
  color: rgba(255, 255, 255, 0.7);
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  padding: 2px;
  border-radius: 5px;
}



.hideButton{
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(255, 255, 255, 0.7);
  width: 40px;
  height: 40px;
  font-size: 20px;
  cursor: pointer;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.1);
  top: 10px;
  left: 20px;
  backdrop-filter: blur(50px);
  z-index: 10;
}

.hideButton:hover{
  color: rgba(255, 255, 255, 0.9);
}

.settingInterface.hidden .hideButton{
  left: -50%;
  background-color: rgba(255, 255,255, 0.2);
}

.actionButtons{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  padding: 20px;
}

.generateButton{
  padding: 10px 12px;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  margin-bottom: 10px;
  cursor: pointer;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.7);  
}

.generateButton:hover{
  background-color: rgba(255, 255, 255, 0.2);
}

.proceedButton{
  font-size: 14px;
  margin-top: 10px;
  text-decoration: underline;
  color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
}

.proceedButton:hover{
  color: rgba(255, 255, 255, 0.7);
}


.bracketsBackground{
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100vw;
  z-index: -100;
  background-image: var(--backgroundurl);
  background-size: cover;
  background-repeat: no-repeat;
  filter: brightness(var(--brightness)) grayscale(var(--grayscale)) contrast(var(--contrast)) invert(var(--invert));
  transition: brightness 20ms ease-in-out;
}

.backgroundOverlay{
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100vw;
  z-index: -90;
  background-color: var(--backgroundcolor);
  mix-blend-mode: darken;
  backdrop-filter: blur(var(--blur));
}

.optionDivider{
  margin-left: 20px;
  font-weight: 600;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.4);
  text-decoration: underline;
}